body{
    background-color: #2A3B98;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.container {
    position: relative;
    width: 600px;
    height: 540px;
    border: 2px solid #2A3B98;
    border-radius: 20px;
}

.youPay, .youReceive, .button {
    position: absolute;
    width: calc(100% - 10px); /* Adjust width for the border */
    border: 5px solid transparent; /* 5px border */
    box-sizing: border-box;
}

.components {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
}

.buy:hover, .sell:hover, .convert:hover, .send:hover {
    background-color: #5261b3;
}

.componentsText {
    color: #fff;
    font-size: 24px; 
    transition: color 0.3s ease; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buy, .sell, .convert, .send {
    height: 100%;
    width: 100px;
    background-color: transparent; 
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease; 
}


.youPay {
    top: 55px; 
    height: 200px;
    border-radius: 20px;
    background-color: #5261b3;
    cursor: pointer;
    transition: 0.1s ease;
    display: flex;
}

.youPay input {
    top: 55px; 
    height: 100%px;
    border-radius: 20px;
    background-color: #5261b3;
    cursor: pointer;
    transition: 0.1s ease;
    display: flex;
}

.youPay:hover {
    border: 3px solid #0e184f;
    transition: 0.2s ease;
}

.swap {
    position: absolute;
    top: calc(50% - 37px);
    left: calc(50% - 30px); 
    width: 50px; 
    height: 50px; 
    background-color: #5261b3;
    border-radius: 15px;
    box-sizing: border-box;
    border: 5px solid #2A3B98;
    z-index: 1;
    cursor: pointer;
    transition: 0.1s ease;
}

.swap:hover {
    border: 5px solid #2A3B98;
    background-color: #0e184f;
    transition: 0.1s ease;
}

.youReceive {
    top: 260px; 
    height: 200px;
    border-radius: 20px;
    background-color: #5261b3;
    cursor: pointer;
    transition: 0.1s ease;
    display: flex;
}

.youReceive input {
    top: 55px; 
    height: 100%px;
    border-radius: 20px;
    background-color: #5261b3;
    cursor: pointer;
    transition: 0.1s ease;
    display: flex;

}

.youReceive:hover {
    border: 3px solid #0e184f;
    transition: 0.2s ease;
}

.button {
    top: 465;
    height: 75px;
    border-radius: 20px;
    background-color: #0e184f;
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover {
    background-color: #1e254a;
    transition: 0.1s ease;
}

.buttonText{
    text-align: center; 
    font-size: 24px;
    color: white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -6px;
    left: 160px;
    position: absolute;
}

.payClass,
.receiveClass {
    width: 65%;
    border: none; 
    font-size: 72px; 
    background-color: #5261b3;
    color: white; 
    top: 50%;
    margin-left: 20px;
    align-items: center;
}

/* Styling for placeholder text */
.payClass::placeholder,
.receiveClass::placeholder {
    color: #999; 
}

.payClass:focus,
.receiveClass:focus {
    outline: none; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
}

.youPay .title, .youReceive .title {
    position: absolute;
    color: white; 
    font-size: 24px; 
    top: -5px; 
    left: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.youPay .usd, .youReceive .usd {
    position: absolute;
    color: white; 
    font-size: 24px; 
    top: 120px; 
    left: 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.swap svg {
    transform: rotate(90deg); /* Rotate the SVG 90 degrees */
    position: absolute;
    top: 4px;
    left: 4px;
    height: 80%;
    width: 80%;
}

.swap svg path {
    fill: white; /* Make all paths white */
}

.swap svg path:nth-of-type(2) {
    fill: none; /* Make the second path (the square) transparent */
}

.youPay .token, .youReceive .token{
    width: 160px;
    height: 40px;
    background-color: #0e184f;
    border-radius: 60px;
    top: 40%;
    right: 10px;
    position: absolute;
    cursor: pointer;
}

.token:hover{
    background-color: #1e254a;
}

.selectToken{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    top: -12px;
    margin-left: 10px;
}

.token svg{
    transform: rotate(-90deg); /* Rotate the SVG 90 degrees */
    position: absolute;
    top: 4px;
    left: 70px;
    height: 80%;
    width: 80%;
    fill: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1005; 
    display: none; 
  }

.overlayMenu{
    height: 540px;
    width: 300px;
    border-radius: 30px;
    background-color: #5261b3;
    position: absolute;
    z-index: 1006;
    left: 1300px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    display: none;
}

.overlayTitle{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: relative;
}

.coinName{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.coinLetters{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    opacity: 70%;
}

.bitcoin, .ethereum, .coynbayse, .solana{
    cursor: pointer;
}

