* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    background-color: #2A3B98;
}

.Website_Header_Wrapper{
    background-color: #0e184f;
    padding: 20px;
    width: 100%; 
    height: 10%;
    position: relative;
}

.Website_Header_Buttons{
    padding: 20px;
}

.Trades_Wallet_Buttons_Wrapper{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.Trades_Wallet_Buttons_Wrapper span {
    margin: 0 20px; 
    color: white; 
}

.Wallet_Button, .Trades_Button{
    width: 100px;
    height: 50px;
    background-color: #2A3B98;
    border: none;
    border-radius: 50px;
    margin: 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Wallet_Button:hover, .Trades_Button:hover{
    background-color: #5261b3;
}



.Website_Body_Wrapper{
    padding: 20px;
    width: 100%; 
    height: 80%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.Swap_Wrapper, .Buy_Wrapper, .Sell_Wrapper, .Send_Wrapper{
    position: relative; 
    top: 100px;
}

.Container_Wrapper{
    padding: 5px;
    width: 600px; 
    height: 800px;
    margin: auto;
}

.Components_Header_Buttons{
    width: 100%; 
    height: 60px;
}

.Components_Header_Swap, .Components_Header_Buy, .Components_Header_Sell, .Components_Header_Send {
    background-color: #2A3B98;
    width: 130px;
    height: 100%;
    border-radius: 50px;
    color: #fff;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    border: none;
}

.Components_Header_Swap:hover, .Components_Header_Buy:hover, .Components_Header_Sell:hover, .Components_Header_Send:hover {
    background-color: #5261b3;
}

.Components_Body_Pay, .Components_Body_Receive{
    margin-top: 5px;
    background-color: #5261b3;
    width: 100%;
    height: 200px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.Components_Body_Pay:hover, .Components_Body_Receive:hover{
    border: 3px solid #0e184f;
    transition: 0.1s ease;
}

.Components_Body_Swap{
    position: absolute;
    width: 50px; 
    height: 50px; 
    background-color: #5261b3;
    border-radius: 15px;
    z-index: 1;
    border: 5px solid #2A3B98;
    cursor: pointer;
    left: calc(50% - 25px);
    top: 242px;
}

.Components_Body_Swap:hover{
    border: 5px solid #2A3B98;
    background-color: #0e184f;
    transition: 0.2s ease;
}

.Components_Body_Swap svg {
    transform: rotate(90deg); 
    position: absolute;
    top: 4px;
    left: 4px;
    height: 80%;
    width: 80%;
    fill: white;
}

.Components_Body_Button{
    margin-top: 5px;
    width: 100%;
    height: 75px;
    border: none;
    border-radius: 20px;
    background-color: #0e184f;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center; 
    font-size: 24px;
    color: white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Components_Body_Button:hover {
    background-color: #1e254a;
    transition: 0.1s ease;
}

.Currency_Input, .Currency_Output{
    width: 100%;
    height: 175px;
    padding-left: 20px;
}

.Currency_Input_Holder, .Currency_Output_Holder{
    border: none; 
    width: 65%;
    font-size: 72px; 
    background-color: #5261b3;
    color: white; 
    position: absolute;
    top: 55px;
}

.Currency_Input_Holder::placeholder,
.Currency_Output_Holder::placeholder {
    color: #999; 
}

.Currency_Input_Holder:focus,
.Currency_Output_Holder:focus {
    outline: none; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
}

.Currency_Title{
    color: white; 
    top: 15px;
    position: absolute;
    font-size: 24px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.Currency_USD{
    color: white; 
    bottom: 15px;
    position: absolute;
    font-size: 24px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.Choose_Token_1, .Choose_Token_2{
    width: 160px;
    height: 40px;
    background-color: #0e184f;
    border-radius: 60px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 45%;
}

.Choose_Token_1:hover, .Choose_Token_2:hover{
    background-color: #1e254a;
}

.Token_1_Title, .Token_2_Title{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 7%;
    white-space: nowrap;
}

.Choose_Token_1 svg, .Choose_Token_2 svg{
    transform: rotate(-90deg); /* Rotate the SVG 90 degrees */
    position: absolute;
    top: 4px;
    left: 75px;
    height: 80%;
    width: 80%;
    fill: white;
}

.Choose_Token_Overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1000; 
    display: none; 
}

.Choose_Token_Overlay_Menu{
    height: 540px;
    width: 300px;
    border-radius: 30px;
    background-color: #5261b3;
    position: absolute;
    z-index: 1006;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    display: none;
    position: absolute;
    top: calc(50%-270px);
    left: calc(50%-150px);
}

.Overlay_Title{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 25px;
}

.Token_Name{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.Token_Letters{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    opacity: 70%;
}

.Bitcoin_Token, .Ethereum_Token, .Coynbayse_Token, .Solana_Token{
    cursor: pointer;
    margin-top: 25px;
}
